:root{
    --corBody: #dddddd;
    --corBorder:#111111;
    --corBorder:#111111;
}
html{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 2.5%;
    padding: 2.5%;
    background-color: var(--corBody);
}
div{
    background-color: #ffffff;
    padding: 0% 2.5%;
    margin: 0% 2.5%;
    border-radius: 5px;
    position: relative;
}
video{
    /* display: block;
    margin: auto; */
    padding: 2.5% 10%;
    width: 50%;
}
h1{
    /* text-align: center; */
    padding: 2.5% 10%;
    font-size: 2em;
}
.googleDrive{
    opacity: 0.5;
    position: absolute;
    top: 5%;
    right: 2%;
    height: 75px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}
.primeVideo{
    opacity: 0.5;
    position: absolute;
    top: 5%;
    right: 20%;
    height: 75px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}
.okFilmes{
    opacity: 0.5;
    position: absolute;
    top: 110px;
    right: 20px;
    height: 75px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}
.netFlix{
    opacity: 0.5;
    position: absolute;
    top: 110px;
    right: 180px;
    height: 75px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}
.youTube{
    opacity: 0.5;
    position: absolute;
    top: 200px;
    right: 20px;
    height: 75px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}