:root{
    --corBody: #dddddd;
    --corBorder:#111111;
    --corBorder:#111111;
}
html{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 10px;
    background-color: var(--corBody);
}
div{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}
video{
    display: block;
    margin: auto;
    padding: 25px;
    width: 30%;
}
h1{
    text-align: center;
    font-size: 2em;
}
.googleDrive{
    opacity: 0.5;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 75px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;
}
.okFilmes{
    opacity: 0.5;
    position: absolute;
    top: 110px;
    right: 20px;
    width: 135px;
    border: 1px solid var(--corBorder);
    border-radius: 5px;

}